{% extends '::base.html.twig' %}

{% block body %}
    <h1></h1>
    <p>
        Page non trouvée, veullez biverifiez votre URL.
        <a href="{{ path('homepage') }}">retourner dans la page d'accueil</a>.
    </p>
{% endblock %}