<div type="button" class="btn btn-info" data-toggle="popover" title="Aide" data-placement="left"
     data-content="{% if aide is empty %}Aucune aide disponible pour cette page{% else %}{{ aide }}{% endif %}">
    Aide
</div>
